* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Alinha o conteúdo para começar do topo */
  align-items: center;
  flex-direction: column; /* Alinha o conteúdo em coluna para rolagem */
}

/* Container geral que envolve tudo */
.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px; /* Margem para separação */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  height: 600px; /* Altura fixa para a caixa */
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto; /* Centraliza e dá margem */
}

.image-section {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-right: 1px solid #ccc;
  max-width: 30vw;
}

.form-section {
  flex: 1;
  padding: 25px;
  overflow-y: auto; /* Scroll vertical */
  height: 100%; /* Garante que ocupe a altura total da caixa */
}

.select-button {
  background-color: #acccd7;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.select-button:hover {
  background-color: #008cba;
}

.select-button.active {
  background-color: #008cba; /* Verde para o estado ativo */
  color: white;
}

h2 {
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  color: #333;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

input[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  max-width: fit-content;
}

input[type="submit"]:hover {
  background-color: #218838;
}

.error {
  color: #ff0000;
  font-size: 12px;
}

textarea {
  resize: none;
  height: 100px;
}

select {
  padding: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

/* Seção de exibição de dados */
.main-exibicao {
  display: flex; /* Adicione esta linha */
  gap: 20px; /* Espaçamento entre os containers */
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.container-data {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.category-container,
.category-container-quartos {
  width: 100%;
  height: 100%;
  max-height: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Esconde conteúdo fora dos limites do container */
}
.category-container {
  height: 230px;
}
.small-containers {
  display: flex;
  flex-direction: column; /* Organiza os itens em coluna */
  gap: 20px;
  flex: 1;
  min-width: 500px;
}

.category-container h2,
.category-container-quartos h2 {
  font-size: 1.5em;
  padding: 15px 20px; /* Ajuste do padding para cobrir a área */
  margin: 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%; /* Garante que o background cobre toda a largura */
  box-sizing: border-box; /* Inclui padding na largura total */
  height: 60px; /* Aumenta a altura para cobrir a área superior */
}

.category-container:hover,
.category-container-quartos:hover {
  transform: scale(1.02);
}

.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.category-container button,
.category-container a.delete-button,
.category-container a.edit-button,
.category-container a.see-button,
.category-container-quartos button,
.category-container-quartos a.delete-button,
.category-container-quartos a.edit-button,
.category-container-quartos a.see-button {
  background-color: #71a6b7;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}
.category-container button:hover,
.category-container a.delete-button:hover,
.category-container a.edit-button:hover,
.category-container a.see-button:hover,
.category-container-quartos button:hover,
.category-container-quartos a.delete-button:hover,
.category-container-quartos a.edit-button:hover,
.category-container-quartos a.see-button:hover {
  background-color: #008cba;
}

.content {
  overflow-y: auto; /* Ativar scroll somente para o conteúdo */
  padding: 20px;
  flex-grow: 1; /* Preencher o espaço restante */
}

.content li {
  margin-bottom: 10px; /* Espaçamento entre os itens */
  padding-bottom: 10px; /* Espaçamento interno para a borda */
  border-bottom: 1px solid #ddd; /* Linha divisória */
}

.content li:last-child {
  border-bottom: none; /* Remove a linha do último item */
}

/* Personalização da barra de rolagem (scrollbar) */
.content::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.content::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Cor do "thumb" da barra */
  border-radius: 4px; /* Bordas arredondadas */
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Cor do "thumb" ao passar o mouse */
}

.content::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da barra */
}
