* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  height: 600px; /* Altura fixa para a caixa */
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: scroll; /* Para esconder o conteúdo que transborda */
  overflow: hidden;
}

.image-section {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-right: 1px solid #ccc;
  max-width: 30vw;
}

.form-section {
  flex: 1;
  padding: 25px;
  overflow-y: auto; /* Scroll vertical */
  height: 100%; /* Garante que ocupe a altura total da caixa */
}

h2 {
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  color: #333;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 5vw;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

input[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #218838;
}

.error {
  color: #ff0000;
  font-size: 12px;
}

textarea {
  resize: none;
  height: 100px;
}

select {
  padding: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}
